.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin: 1rem 0;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.display {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 4px;
  border: 1px solid;
}

.name {
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.aliasMain {
  margin-left: 10px;
  font-style: italic;
}

.alias {
  margin-left: 15px;
}
